body {background-color: powderblue;}

.normalHeadingPadding {
    padding-left: 100px;
    padding-top: 25px;
}

#nbaHeading {
    text-transform:uppercase;
    color: Tomato;
    font-family: helvetica;
}

#title {
    color:#000000;
    text-shadow:none;
    margin: 0px;
    margin-top: -1px;
    padding: 25px;
    background-color: #ffffff;
}

h1 {
    color: #3ba390;
    font-size: 55px;
    text-shadow: 2px 2px red;
}
p {
    color: #000000;
    margin-left:10px;
    text-rendering: optimizeLegibility;
    letter-spacing: 0px;
    line-height: inherit;
    white-space: normal;
}
ul {
    color: MediumSeaGreen;
    font-size: 25px;
    margin: 15px;
    padding: 5px;
    border-style: solid;
    list-style-position: outside;
    list-style-type: square
}
ol {
    list-style-type: decimal-leading-zero;
    font-size: 25px;
    color: black;
}

a:hover, a:active{text-decoration: underline}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 450px;
    background-color: #aaa0a0;
}
td, th {
    border-color:#000000;
    border-width: 2px;
    border-style:solid;
    text-align:left;
    padding: 6px;
}
tr:nth-child(even) {background-color: #dddddd;}

.secondRow {color:#0f6e2f}

.thirdRow {color:#115b9c;}

.fourthrow {color:#75119c;}

.fifthRow {color:#9c1649;}

.navbar-brand, .nav-link {color: #000000;}
